*{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

header {
    height: 60px;
    justify-content: space-between;
    align-items: center;
    display: flex; 
    margin-left: 60px;
    margin-right: 60px;
  }

.hero{
    margin-left: auto;
    margin-right: auto;
	width: 100vw;
	height: 100vh;
    background-size: cover;
    background-image:  url(https://i.postimg.cc/2ykKjmHT/Frame-1.jpg);
    background-position: center;
    position: relative;
    
}

  .logo {
    font-size: 30px;
    font-weight: bold;
    color:#433AC9; 
  }
  
  .nav-contents {
    justify-content: space-between;
    align-items: center;
    display: flex;

  }
  
  
  .nav-contents li a{
    margin: auto 30px;
    color:#2D2D2D;
  } 
  
  
  .nav-contents li a:hover{
    color: #433AC9;
  }
  
  li{
              list-style: none;
          }
          a {
            text-decoration: none;
          }

.alam {
			color: white;
            text-align: center;
            width: 120px;
            height: 30px;
			border-radius: 30px;
			background-color: #433AC9;
}



.award-text{
    position: relative;
    top: 50%;
    left: -25%;
    color: white;
    font-style: normal;
    font-weight: 80;
    line-height: 40px;
    letter-spacing: -0.015em;
}


.container{
    margin-top: 100px;
}
main{
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}

h3{
    text-align: center;
    margin-top: 12px;
    font-size: 24px;
}

.new {
    margin-top: 200px;
    margin-bottom: 200px;
}
main div.news{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap:0 40px;
}

main .news .item{
	flex: 1 0;
	height: 290px;
	border-radius: 8px;
	position: relative;
	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	transition: all 0.1s ease-in;
}

.news .item:nth-child(2){
	background-image: url("https://i.postimg.cc/vmXJkgsN/Kakao-Talk-20221205-081511800.jpg");
	background-position: center;
	background-size: cover;
}
.news .item:nth-child(3){
	background-image: url("https://i.postimg.cc/mDj7Q47M/Kakao-Talk-20221205-081511680.jpg");
	background-position: center;
	background-size: cover;
}
.news .item:nth-child(4){
	background-image: url("https://i.postimg.cc/65gnVY4H/Kakao-Talk-20221205-081511535.jpg");
	background-position: center;
	background-size: cover;

}

main .news .item:hover{
    transform: translateY(-8px);
    box-shadow: 0 4px 30px rgba(0,0,0,0.3);
}

.news .item p{
	color: white;;
	font-size: 12px;
	letter-spacing: -1px;
}


main .news .contents{
        flex: 1 0;
        height: 290px;
        border-radius: 8px;
        position: relative;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        transition: all 0.1s ease-in;
    }
    
   
    
    .news .contents:nth-child(2){
        background-image: url("https://pup-review-phinf.pstatic.net/MjAyMjExMTJfMzAw/MDAxNjY4MjUxMzY0OTU4.HdTtVDVq1c8UwrhiVw7ojX40eZWB3w0G9gVeDHz5liUg.0hizRlP0vYWJAHZY4WawzLiK4FThjByulH26O-Kncmkg.JPEG/620C3F67-292C-4F23-8AE2-0058C7102148.jpeg");
        background-position: center;
        background-size: cover;
    }
    .news .contents:nth-child(3){
        background-image: url("https://pup-review-phinf.pstatic.net/MjAyMjEyMDRfMjgg/MDAxNjcwMTQyODc4ODQw.BT7kSo5grbOxCTXds2GDMcGXOrn1CSolFvByJqdADBcg.q__m2tksaOBoy5hrnjMhewCcFw-we1REKZzDyoFb8KMg.JPEG/1670142845380.jpg");
        background-position: center;
        background-size: cover;
    }
    .news .contents:nth-child(4){
        background-image: url("https://ldb-phinf.pstatic.net/20220927_10/1664252111874u5zQB_JPEG/IMG_20220924_122312_626.jpg");
        background-position: center;
        background-size: cover;
    
    }
    
    .news .contents p{
        color: white;
        font-size: 12px;
        letter-spacing: -1px;
    }

    main .news .contents:hover{
        transform: translateY(-8px);
        box-shadow: 0 4px 30px rgba(0,0,0,0.3);
    }

main div.news h3{
	flex: 0 0 100%;
	margin-top: 80px;
	margin-bottom: 12px;
}
.news-text1{
	width: 1148px;
	display: flex;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;
	
}

 h4:nth-child(2),h4:nth-child(3){
    margin-left: 220px;
 }



main div.highlights{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap:0 40px;
    margin-top: 200px;
}

.winter{
    background-color: rgb(248, 246, 241);
    height: 600px;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.winter .text {
    position: relative;
    right: 20%;
    top: 30%;

}


.video1{
    border-radius: 20px;    
    display: flex;;
}

.play {
    margin-top: 100px;
}
.main_text5{
    display: flex;
	justify-content: space-between;

}



.yellow1{
width: 400px;
height: 200px;
background: #FADB42;
border-radius: 30px;
display: flex;
padding: 30px;

}

.orange{
    width: 400px;
    height: 200px;
    background: #FF8B53;
    border-radius: 30px;
    margin-top: 40px;
    display: flex;
    padding: 30px;
    }

.instagram {
    margin-top: 200px;
    margin-bottom: 200px;
    border-radius: 30px;
    box-shadow: #2D2D2D;
    background-color: rgb(20, 59, 9);
    padding: 20px;
}

.insta-img {
    display: flex;
	justify-content: space-between;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;

}
.instagram .img {
    margin-left: 20px;
    transition: all 0.4s ease;
}

.instagram img:hover{
    transform: scale(1.05);
}

h2 {
    margin-top: 300px;
    margin-bottom: 80px;
}


 /*	2page*/

 .hero-text h1 {
    text-align: center;
    position: absolute;
    top:40%;
    left: 260px;
    color: #fff3e1;
    font-weight: 500;

 }

 .hero-text h3 {
    left: 260px;
    top:45%;
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #fff3e1;



 }
 .card h1 {
    margin-bottom: 40px;
    font-size: 20px;
    color: black;
 }

 .card-price h2 {
    margin-top: 16px;
    font-size: 16px;
    text-align: left;
 }
 
 .card-price p {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
 }
 
  

 .card-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
   
 }
 
 .card-price {
    opacity: 0;
    height:280px;
    width:300px;
    color: white;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
 }
         
 .card-price:hover{
    opacity: 1;
 }
 
 .card-img{
    transition: all 0.4s ease;
    position: relative;
 }
 
 .card-img img {
    width: 300px;
 }
 




 main div.highlights{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap:0 20px;
}

main .highlights .item{
	flex: 1 1;
	height: 300px;
	position: relative;
}

.highlights .item:nth-child(2){
	background-image: url(image/다운로드.jfif);
	background-position: center;
	background-size: cover;
}
.highlights .item:nth-child(3){
	background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAzMDlfODUg%2FMDAxNjQ2NzUyNTY0MzI3.viw8K46_MSIrB_r5txY_Y2AksIv7mN9o21YB_TQBf9og.dFDD4hocHlf5IzmatyVP6ZfzXCVU3LetYdteoo9JLzQg.JPEG.enrgy53%2FIMG_8494.jpg&type=sc960_832");
	background-position: center;
	background-size: cover;
}
.highlights .item:nth-child(4){
	background-image: url("image/다운로드\ \(2\).jfif");
	background-position: center;
	background-size: cover;
}
.highlights .item:nth-child(5){
	background-image: url(image/KakaoTalk_20221205_081512866.jpg);
	background-position: center;
	background-size: cover;
}



 main .highlights .item .info{
	background-color:black;
	color: white;
	padding: 12px 24px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: opacity 0.3s ease-in;
}

main .highlights .item:hover .info{
	opacity: 1;
}

.info h4{
	color: var(--key-color);
	font-size: 16px;
	font-weight: normal;
	letter-spacing: -1px;
	margin-bottom: 4px;
}
.info p{
	color: var(--white-color);
	font-size: 12px;
}


main div.highlights h3{
	flex: 0 0 100%;
	margin-top: 80px;
	margin-bottom: 12px;

}



.main_text0{
    width: 100%;
    height:600px;
    margin-top: -30px;
    background: beige;
    border-radius: 10px;
}

.main_text0 > h1 {
    padding-top: 50px;
    padding:auto;
    text-align: center;
    margin-top: 200px;
    
  

}

.main_text0 > .contents1 {
    text-align: center;

}

.icons{
    display: flex;
    width: 1150px;
    height: 302px;
    margin: auto;
    text-align: center;
}

.icons > li {
    flex: 1;
    background: #ffffff;
    height: 350px;
    margin-top: 49px;
    width: 300;
    border-radius: 30px;
}
.icons > li > .icon_img {
    margin-top: 36px;
}


.icons > li:not(:last-child) {
    margin-right: 20px;
}

.imground {
    border-radius: 30px;
    transition: all 0.4s ease;
}

.imground:hover{
    transform: scale(1.05);
}

.award {
    margin-left: auto;
    margin-right: auto;
	width: 100vw;
	height: 70vh;
    background-size: cover;
    background-image:  url(image/Frame\ 2.jpg);
    background-position: center;
    position: relative;
    text-align: center;
}

.award-alam{
    position: relative;
    top: 40%;
    left: 21%;
    color: white;
    text-align: center;
    width: 120px;
    height: 30px;
    border-radius: 30px;
    background-color: #433AC9;
    display: block;

}




 /*	3page*/

 .hero3{
	width: 100%;
	height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(image/Mask\ group.png);
}

.hero-text3 h1 {
    right: 16%;
    top:40%;
    position: absolute;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
    color: #fff3e1;
}



 .hero-text3 h3 {
    right: 13%;
    top: 50%;
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #fff3e1;



 }
.main_text1 {
    width: 100%;
    height: 470px;
    background: #e4d1ff;
    margin-top: 300px;
}

.main_text1 >h1 {
    padding-top: 200px;
    text-align: center;
}

.main_text1 > .contents1 {
    text-align:center;
    margin-left: 100px;

}

.main_text1 > .contents1_bold {
    text-align: center;
    margin-bottom: 20px;
}

.service {
    display: flex;
}




.map {
    display: flex;
    justify-content: center;
}

h4 {
    text-align: center;
    font-weight: 500;
}

h6 {
    text-align: center;
    margin-top: 300px;
    margin-bottom: 60px;
}

h5{
   
    text-align: center;
}

.map2 {
    margin-left: auto;
    margin-right: auto;}


.hero-alam {
            color: white;
            width: 200px;
            height: 40px;
			border-radius: 30px;
			background-color: #433AC9;
            margin-top: 20px;
            font-weight: 500;
            text-align: center;
            font-size: 20px;
            position: absolute;    
            top: 50%;
            left: 20%;
}

.play-text {
    display: flex;
    margin-bottom: 30px;

  
}



.winter-alam{
        color: white;
            width: 200px;
            height: 100px;
			background-color: #433AC9;
            font-weight: 500;
            text-align: center;
            font-size: 20px;
            border-radius: 20px;
            padding: 10px;
}

.winter-alam:hover {
    color:#433AC9;
        width: 200px;
        height: 100px;
        background-color: white;
        font-weight: 500;
        text-align: center;
        font-size: 20px;
        border-radius: 20px;
        padding: 10px;
        border: solid 3px #433AC9;
}

.winter .text h1 {
    margin-bottom: 30px;
}

.purple{
    margin-left: auto;
    margin-right: auto;
	width: 100%;
	height: 360px;
    background-size: cover;
    background-image:  url(image/Group\ 37.jpg);
    background-position: center;
    position: relative;
    text-align: center;
    color: #f5f5f5;

}

.purple h1 {
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    left:40%;
    top: 40%;


}

.purple-button {
    display: block;
    position: absolute;
    border: 3px solid #f5f5f5;
    border-radius: 10px;
    width: 200px;
	height: 50px;
    text-align: center;
    left: 45%;
    top: 55%;
}

.purple-button:hover{
    display: block;
    position: absolute;
    border: 3px solid #f5f5f5;
    border-radius: 10px;
    width: 200px;
	height: 50px;
    text-align: center;
    left: 45%;
    top: 55%;
    background-color:#FA622F;
}


.sub {
    margin-top: auto;
    margin-bottom: auto;
}


.purple-text {
    margin-top: 200px;
}

.purple a {
    padding: 10px 30px;
    color: #f5f5f5;
}

.service_photo{
    transition: all 0.4s ease;
}

.service_photo:hover{
    transform: scale(1.05);
}

.oido {
    margin-top: 200px;
    margin-left: 250px;
    margin-right: 200px;
}

.oido-item1 {
    width: 800px;
    height: 200px;
    position: relative;
    box-shadow: 5px 5px 20px grey;
    border-radius: 300px;
    border: 1px solid #FA622F;
}

.oido-item1 h7 span {
    border: 1px solid #FA622F;
    color: black;
    background-color: #FA622F;
    padding: 2px;
}

.oidoimg {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 300px;
    transition: all 0.4s ease;
}

.oidoimg:hover{
    transform: scale(1.05);
}

.oido-text {
    text-align: left;
    margin-top: 40px;
    margin-left: 240px;
    width: 400px;

}

.oido-text h7 {
    font-weight: 700;
    font-size: 24px;
}

.oido-text p {
    margin-top: 32px;
}

.christmas {
    width: 1200px;
    height: 600px;
    box-shadow: 3px 3px 10px grey;
    border-radius: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background-color: #ffffff;
}

.box {
	width: 100vw;
    height: 600px;
    background-color: rgb(205, 232, 255);
    margin-top: -30px;
}

.hero-text2 h1 {
    text-align: center;
    position: absolute;
    top:40%;
    right: 240px;

 }

 .hero-text2 h3 {
    right: 260px;
    top: 55%;
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    text-align: left;



 }


 .main_text2 {
    width: 100%;
    height: 500px;
    margin-top: 300px;
}


.main_text2 >h1 {
    padding-top: 200px;
    text-align: center;
}

.main_text2 > .contents1 {
    text-align: center;
    margin-left: 100px;

}

.main_text2 > .contents1_bold {
    text-align: center;
    margin-bottom: 20px;
}

.service {
    display: flex;
}

.contents2 .h5{
    position: relative;
    margin-left: 30px;
    margin-top: 30%;
}

.service_photo2{
        transition: all 0.4s ease;
        position: relative;
        left: 15%;

    }
    
.service_photo2:hover{
        transform: scale(1.05);
    }

    
.contents3{
        position: relative;
        left: 6%;
        margin-top: 10%;

    }


.card {
    display: flex;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 200px;
}


.yellow {

    background-color: #fff3e1;
    width: 400px;
    height: 300px;
    margin-left: 50px;
    flex-wrap: wrap;
    border-radius: 50px;
    margin-bottom: 200px;

}

.yellow:hover {
    box-shadow: 0 4px 30px rgba(0,0,0,0.3);
}

.card-img2 {
margin-left: 35%;
margin-top: 10%;}

.yellow-text {
    font-size: 16px;
}

.hero4 {
    width: 100%;
	height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image:url(image/Group\ 42.png);
}



.hero4 h1 {
    text-align: center;
    position: absolute;
    top:40%;
    left: 220px;
    color: #fff3e1;
    font-weight: 500;

}
   


.navigation{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 1200px;
    background-color: gray;
    flex-flow: row nowrap;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
}

.title{
    text-align: center;
    margin-top: 48px;
    font-size: 28px;
    font-weight: bold;
    color: #3f3f3f;
}


.about2 a:hover{
    color: black;
    border-bottom: 1px solid black;
}



.navigation a{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;

    transition: flex-grow 1s ease;
    flex-basis: 0;
}

.navigation a h2{
    font-size: 16px;
    opacity: 0;
    transition: opacity 1s ease;
}

.navigation a p{
    font-size: 12px;
    opacity: 0;
    transition: opacity 1s ease;
}

.navigation a .layout{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 1s ease;
}

.navigation a:hover{
    flex-grow: 3;
    color: white;

}

.navigation a:hover .layout{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.navigation a:hover h2, .navigation a:hover p{
    color: white;
    opacity: 1;
}


#img1{
    background-image: url(image/1664119497772.jpg);
}

#img2{
    background-image: url(image/2D915979-0CC9-45C9-A3F5-076F3C56C5C8.jpeg);

}

#img3{
    background-image: url(image/DWY05672.jfif);

}

#img4{
    background-image: url(image/20220908_183848.jpg);
}


.item{
    position: relative;
    height: 255px;
}


.icon{
    position: absolute;
    bottom: 5px;
    left: 10px;
    z-index: 1;

}

.product .icon:hover{
    animation: anime 1s linear infinite;
}

@keyframes anime{
    from {opacity: 0;}
    to {opacity: 1;}
}

.box2{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 260px;
    top: 0px;
    opacity: 0;
    transition: all 0.3s ease
    ;
    z-index: 0;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
}

.box2:hover{
    opacity: 1;
}

.box2 h1{
    font-size: 16px;
}

.box2 p{
    font-size: 12px;
}




/*.gallery{
    background-color: black;
    width: 100%;
    height: 800px;
    margin-top: -100px;
}*/

  .container2{
      margin: 4% auto;
      width: 210px;
      height: 140px;
      position: relative;
      perspective: 1000px;
      margin-top: 100px;

  }
  #carousel{
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      animation: rotation 40s infinite linear;
  }
  #carousel:hover{
      animation-play-state: paused;
  }
  #carousel figure{
    display: block;
	position: absolute;
	width: 300px;
	height: 400px;
	left: 10px;
	top: 10px;
	overflow: hidden;
  }
  #carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
  #carousel figure:nth-child(2) { transform: rotateY(72deg) translateZ(288px);}
  #carousel figure:nth-child(3) { transform: rotateY(144deg) translateZ(288px);}
  #carousel figure:nth-child(4) { transform: rotateY(216deg) translateZ(288px);}
  #carousel figure:nth-child(5) { transform: rotateY(288deg) translateZ(288px);}
  #carousel figure:nth-child(6) { transform: rotateY(360deg) translateZ(288px);}
  
 .carousel img{
      -webkit-filter: grayscale(1);
      cursor: pointer;
      transition: all .5s ease;
  }

 .carousel img:hover{
      -webkit-filter: grayscale(0);
    transform: scale(1.2,1.2);
  }
  
  @keyframes rotation{
      from{
          transform: rotateY(0deg);
      }
      to{
          transform: rotateY(360deg);
      }
  }


  

  /* Lazy Load Styles */
.card-image2 {
	display: block;
	min-height: 20rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover;

}

.card-image2 > img {
	display: block;
	width: 100%;
/* visually hide the img element */
}

.card-image2 .is-loaded {
	filter: none; /* remove the blur on fullres image */
	transition: filter 1s;
}





.card-list5 {
    margin-top: 100px;
	display: block;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}


.card3 {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card3:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
	display: block;
	padding: 1em 0.5em;
	color: #515151;
	text-decoration: none;
}

.card-description > h2 {
	margin: 0 0 0.5em;
}

.card-description > p {
	margin: 0;
}


body{
    margin:0;
    overflow-x:hidden;
    }
    
    .footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }

    .contents4 {
        text-align: left;
        margin-left: 60px;
    }

    .contents4 h5 {
        text-align: left;
        margin-left: 60px;
    }

    .service_photo3 {
        margin-left: 100px;
        margin-top: 50px;
        transition: all 0.4s ease;

    }

    .service_photo3:hover {
        transform: scale(1.05);
    }

    .contents5 {
        text-align: left;
        margin-left: 60px;
        background-image: url("image/Union.png") ;
        width: 1000px;
    }

    .contents5 h5{
        text-align: left;
        margin-left: 200px;
    }


    .contents6 {
        text-align: left;
        margin-left: 200px;
        margin-top: -30px;
    }

    .service2 {
        display: flex;
        height: 300px;
    }

    .k {
        background-image: url("image/Group\ 43.png") ;
        height: 550px;
        margin-bottom: 100px;
        position: relative;

    }

    .k .contents6 {
        position: absolute;
        top: 30%;
        left: 55%;
    }

    .k .contents6 h5{
        text-align: left;
        margin-bottom: 30px;
    
    }

    .purple-button2 {
        display: block;
        position: absolute;
        border: 3px solid #433AC9;
        border-radius: 20px;
        width: 200px;
        height: 40px;
        text-align: center;
        right: 45%;
        top: 90%;
        color: #433AC9;
       
    }
    
    .purple-button2:hover{
        display: block;
        position: absolute;
        border: 3px solid #433AC9;
        border-radius: 20px;
        width: 200px;
        height: 40px;
        text-align: center;
        right: 45%;
        top: 90%;
        background-color:#433AC9;
        color: #f5f5f5;
    }
    
    .purple-button2 .sub {
        font-size: 18px;
        font-weight: 500;
        margin-top: 5px;
    }


    .circle {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        gap: 100px 100px;
        margin-left: 16%;
        margin-top: 200px;
        margin-bottom: 200px;

    }

    .circle1 {
    Flex:wrap;
    transition: all 0.4s ease;
    }

    .circle1:hover{
        transform: scale(1.05);
    }
    .circle-text {
       font-size: 16px;
       text-align: center;
    }

   